.photo {
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.photo--title-text {
    transform: rotate(-45deg);
    font-size: 50px;
    width: 95%;
    color: rgb(0, 0, 0);
}

.photo--title {
    margin-top: -400px;
}